*{
	margin: 0;
	padding: 0;
}
.main-header-area{
	position: relative;
	height: 700px;
}
.header-bg{
	position: absolute;
	background-image: url('../img/slider.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mainmenu{
	margin: 0;
	padding: 0;
}
.mainmenu ul{
	list-style: none;
	font-family: 'Playfair Display', serif;
}
.mainmenu ul li{
	display: inline-block;
	padding: 25px;
	text-transform: uppercase;
}
.mainmenu ul li a{
	color: #fff;
	font-weight: 100;
	text-decoration: none;
}
.logo{
	margin-top: 16px;
}
.socail-icon{
    margin-top: 18px;
}
.socail-icon i {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
.header-area{
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	z-index: 6;
	opacity: 0.4;
}
.slider-text{
	text-align: center;
	margin: 200px 0;
}
.slider-text h1{
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 65px;
	font-weight: 600;
	margin-bottom: 50px;
	text-shadow: 5px 3px #000;
	letter-spacing: 7px;
}
.slider-text p{
	color: #fdfdfd;
	font-size: 18px;
	width: 100%;
}
.slider-btn{
	display: inline-block;
	padding: 10px 30px;
	position: relative;
	color: #fff;
	z-index: 1;
	text-transform: uppercase;
}
.slider-btn::after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: "";
	z-index: -1;
	opacity: 0.35;
}
a.slider-btn {
    text-decoration: none !important;
    color: #fff;
}
.pan-cake-section{
	position: relative;
	height: 600px;
	margin: 110px 0;
}
.left-section h1{
	color: #56534C;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Alegreya', serif;
}
.left-section h5{
	color: #A47D5E;
	margin-top: 10px;
	margin-bottom: 45px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Alegreya', serif;
}
.left-section p{
	color: ;
	margin: 52px 0;
}
.chef-cook img{
	border: ;
	height: 100px;
	width: 100px;
}
.chef-cook span{
	border-bottom: 2px solid #D7D5CA;
	border-top: 2px solid #D7D5CA;
	padding: 15px;
}
.qoute p{
	font-family: 'Dancing Script', cursive;
	font-size: 22px;
	color: #AA8669;
}
.section-img{
	position: relative;
}
.img-vector {
    position: absolute;
    top: 118px;
    left: 182px;
}
.img-vector span left{

}